@import "./variables";
@import './animation';

@mixin no-wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

@mixin table-page-css() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .search-box {
    padding: 0 20px;
    .el-col {
      display: flex;
      margin-top: 20px;
      height: 32px;
      .item-label {
        flex: 0 0 80px;
        width: 80px;
        height: 32px;
        line-height: 32px;
        font-size: 12px;
        color: $color-text-table;
        text-align: right;
        @include no-wrap()
      }
      .el-input, .el-select, .el-date-editor, .input-box {
        flex: 1 1 auto;
        margin: 0 20px;
      }
    }
  }
  .btn-box {
    margin-top: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
  }
  .tab-box {
    background: #E6ECF0;
    padding-bottom: 10px;
    .tab-list {
      height: 25px;
      padding-left: 25px;
      background: #ffffff;
      display: flex;
      position: relative;
      .tab-item {
        width: 70px;
        text-align: center;
        height: 25px;
        color: $color-text-table;
        font-size: 12px;
        cursor: pointer;
        user-select: none;
        &.active {
          color: #0275d8;
        }
        &:hover {
          color: #43a7fd;
        }

      }
      .line {
        height: 2px;
        width: 70px;
        position: absolute;
        bottom: 0;
        left: 25px;
        background: #0275d8;
        transition: left 0.2s ease-in-out;
        &.active {
          left: 95px;
        }
      }
    }
  }
  .operate-box {
    text-align: center;
    margin-top: 15px;
    margin-left: 25px;
    padding-bottom: 15px;
    height: 45px;
    display: flex;
    justify-content: left;
  }
  .table-box {
    font-size: 12px;
    margin: 0 25px;
    color: $color-text-table;
  }
  .table-footer {
    padding: 10px 25px;
    height: 48px;
    .el-pagination {
      height: 28px;
      padding: 0;
      text-align: left;
      font-size: 12px;
      color: $color-text-table;
    }
  }
}

@mixin form-page-css() {
  .form-title {
    height: 45px;
    line-height: 45px;
    text-align: left;
    margin: 0 20px;
    font-size: 16px;
    font-weight: bold;
    color: $color-text-table;
    border-bottom: 1px solid #51545b;
  }
  .el-form {
    padding: 0 20px;
    .row_des {
      text-align: left;
      padding-left: 140px;
      font-size: 12px;
      color: #58A8EE;
      margin-top: 10px;
    }
    .el-col {
      margin-top: 20px;
      .el-form-item {
        height: 32px;
        width: 100%;
        display: flex;
        &.textarea {
          height: 75px
        }
        .el-form-item__label {
          width: 120px;
          flex: 0 0 120px;
          text-align: right;
          font-weight: normal;
          font-size: 13px;
          color: $color-text-table;
          height: 32px;
          @include no-wrap
        }
        .el-form-item__content {
          flex: 1 1 auto;
          margin: 0 20px;
          .el-input, .el-select, .el-date-editor {
            width: 100%;
          }
        }
      }
    }
  }
  .attach-box {
    margin-top: 20px;
    padding: 0 20px;
    .header {
      height: 30px;
      display: flex;
      .info {
        width: 140px;
        text-align: right;
        font-size: 13px;
        color: $color-text-table;
        line-height: 30px;
        padding-right: 20px;
        cursor: default;
      }
    }
    .el-upload__tip {
      padding-left: 140px;
      color: $color-text-table;
      font-size: 12px;
    }
    .el-upload-list {
      margin: 10px 20px 10px 140px;
      .el-upload-list__item {
        border: 1px solid transparent;
        margin: 0;
        &:hover {
          border: 1px solid #409EFF;
          background: #ffffff;
        }
        .el-upload-list__item-name {
          line-height: 40px;
          color: $color-text-table;
          font-size: 13px;
        }
        .el-upload-list__item-status-label {
          margin-top: 8px;
          margin-right: 20px;
        }
        .el-icon-close {
          top: 13px;
          margin-right: 20px;
        }
        .el-icon-close-tip {
          display: none;
        }
      }
    }
  }
  .btn-box {
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
}

@mixin dialog-form-css() {
  @include dialog-animation();
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 180px;
  padding-top: 85px;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  &.hideSidebar {
    padding-left: 36px;
  }
  .dialog {
    width: 70%;
    height: 70%;
    background: #ffffff;
    border: 1px solid #ebeef5;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    color: #555555;
    font-size: 13px;
    border-radius: 4px;
    .header {
      width: 100%;
      display: flex;
      padding: 0 20px;
      border-bottom: 1px solid #E4E4E4;
      h3 {
        flex: 1 1 auto;
        line-height: 40px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
      }
      .svg-icon {
        font-size: 18px;
        margin-top: 11px;
        color: #333333;
        cursor: pointer;
        &:hover {
          color: #58A8EE
        }
      }
    }
    .el-form {
      padding: 0 20px;
      .el-col {
        margin-top: 20px;
        .el-form-item {
          height: 32px;
          width: 100%;
          display: flex;
          &.textarea {
            height: 75px
          }
          .el-form-item__label {
            width: 120px;
            flex: 0 0 120px;
            text-align: right;
            font-weight: normal;
            font-size: 13px;
            color: $color-text-table;
            height: 32px;
            @include no-wrap()
          }
          .el-form-item__content {
            flex: 1 1 auto;
            margin: 0 20px;
            .el-input, .el-select, .el-date-editor {
              width: 100%;
            }
          }
        }
      }
    }
    .btn-box {
      margin-top: 20px;
      height: 50px;
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
    }
  }
}

@mixin dialog-detail-css() {
  @include dialog-animation();
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 180px;
  padding-top: 85px;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  &.hideSidebar {
    padding-left: 36px;
  }
  .dialog {
    width: 70%;
    height: 70%;
    background: #ffffff;
    border: 1px solid #ebeef5;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    color: #555555;
    font-size: 13px;
    border-radius: 4px;
    .header {
      width: 100%;
      display: flex;
      padding: 0 20px;
      border-bottom: 1px solid #E4E4E4;
      h3 {
        flex: 1 1 auto;
        line-height: 40px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
      }
      .svg-icon {
        font-size: 18px;
        margin-top: 11px;
        color: #333333;
        cursor: pointer;
        &:hover {
          color: #58A8EE
        }
      }
    }
    .form {
      .el-row {
        padding: 0 30px;
        margin-top: 20px;
        .el-col {
          display: flex;
          font-size: 14px;
          color: #606266;
          .label {
            width: 130px;
            flex: 0 0 130px;
            height: 30px;
            line-height: 30px;
            text-align: right;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          .value {
            height: 30px;
            line-height: 30px;
            flex: 1 1 auto;
            text-align: left;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            &.single {
              height: auto;
              min-height: 30px;
              line-height: 30px;
              white-space: normal;
            }
          }
        }
      }
    }
    .btn-box {
      margin-top: 20px;
      height: 50px;
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
    }
  }
}

@mixin pick-dialog() {
  @include dialog-animation();
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 180px;
  padding-top: 85px;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(55, 55, 55, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  &.hideSidebar {
    padding-left: 36px;
  }
  .dialog {
    width: 80%;
    height: 80%;
    background: #ffffff;
    border: 1px solid #ebeef5;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    color: #555555;
    font-size: 13px;
    border-radius: 4px;
    .header {
      width: 100%;
      display: flex;
      padding: 0 20px;
      border-bottom: 1px solid #E4E4E4;
      h3 {
        flex: 1 1 auto;
        line-height: 40px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
      }
      .svg-icon {
        font-size: 18px;
        margin-top: 11px;
        color: #333333;
        cursor: pointer;
        &:hover {
          color: #58A8EE
        }
      }
    }
    .search-box {
      padding: 20px 20px;
      height: 72px;
      .item-label {
        float: left;
        height: 32px;
        line-height: 32px;
        font-size: 13px;
        color: $color-text-table;
        margin-right: 20px
      }
      .el-select {
        height: 32px;
        float: left;
        width: 30%;
        margin-right: 50px;
        text-align: left;
      }
      .el-input {
        width: 30%;
        float: left;
        height: 32px;
        font-size: 13px;
        margin-right: 20px;
      }
      .el-button {
        float: left;
        height: 32px
      }
    }
    .table-box {
      padding: 0 20px;
    }
    .table-footer {
      padding: 10px 20px;
      height: 88px;
      text-align: center;
      .el-pagination {
        height: 28px;
        padding: 0;
        text-align: left;
        font-size: 12px;
        color: $color-text-table;
      }
      .el-button {
        margin-top: 10px;
        height: 30px;
      }
    }
  }
}

@mixin page-detail() {
  .header {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 30px;
    .avatar {
      flex: 0 0 50px;
      width: 50px;
      height: 50px;
    }
    .header-right {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      text-align: left;
      .title-box {
        .opp-name {
          font-size: 18px;
          color: #000000;
          font-weight: 400;
        }
        .svg-icon {
          font-size: 20px;
          margin-left: 5px;
          cursor: pointer;
          color: #555555;
          &:hover {
            color: #4a94fa;
          }
        }
      }
      .info-box {
        display: flex;
        font-size: 14px;
        margin-top: 10px;
        color: #555555;
        .info-item {
          margin-left: 20px;
          &:first-of-type {
            margin-left: 0;
          }
        }
      }

    }
  }
  .tab-box {
    .tab-list {
      height: 35px;
      padding-left: 30px;
      background: #ffffff;
      display: flex;
      position: relative;
      .tab-item {
        width: 80px;
        text-align: center;
        height: 35px;
        line-height: 35px;
        color: $color-text-table;
        font-size: 13px;
        cursor: pointer;
        user-select: none;
        &.active {
          color: #0275d8;
        }
        &:hover {
          color: #43a7fd;
        }

      }
      .line {
        height: 2px;
        width: 80px;
        position: absolute;
        bottom: 0;
        left: 30px;
        background: #0275d8;
        transition: left 0.2s ease-in-out;
      }
    }
  }
  .content {
    border-top: 1px solid #DCDFE6;
  }
}
