// 颜色定义规范
$color-background: #fff;
$color-text: #555555;
$color-text-l: #c0c9d5;
$color-text-ll: #EBEBEB;
$color-text-table: #606266;
//sidebar
$menuBg: #364150;
$menu-text: #c0c9d5;
$menu-text_hover: #ffffff;
$menuHover: #4a94fa;

//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
$font-size-large-xx: 24px;

$color-main: #303133;
$color-normal: #606266;
$color-info: #909399;
$color-placeholder: #C0C4CC;

$border-main: #DCDFE6;
$border-normal: #E4E7ED;
$border-info: #EBEEF5;
$border-placeholder: #F2F6FC;

